#!/usr/bin/make -f

# export DH_VERBOSE=1
%:
	dh $@

override_dh_auto_build:
	dh_auto_build
	convert icons/icon-alpha.png -resize 688x688 -background transparent -gravity center -extent 688x688 openscad.png
	# don't ship mcad, neither the empty directory (when this is built from
	# a normal git source checkout) nor the full library (when this is
	# built from a git checkout with submodules or from a tarball). mcad
	# gets its own package.
	rm -rf debian/openscad/usr/share/openscad/libraries/MCAD/
	rmdir debian/openscad/usr/share/openscad/libraries

override_dh_auto_install:
	dh_auto_install
	ln -s /usr/share/openscad/examples debian/openscad/usr/share/doc/openscad/examples

override_dh_clean:
	dh_clean
	rm -f openscad.png
